<div class="cart-item-wrapper">
    <div>Nome: {{ item.nomeMedicamento }}</div>
    <div>Dosagem: {{ item.dosagem }} {{ item.medidaDosagem }}</div>
    <div>
        Quantidade:
        <input
            type="number"
            value="{{ item.quantidade }}"
            min="1"
            id="{{ item.id }}"
            [(ngModel)]="item.quantidade"
            (change)="onItemChanged($event)"
        />
    </div>
    <div>
        <button
            type="button"
            class="btn btn-default"
            aria-label="Left Align"
            id="{{ item.id }}"
            (click)="onItemDeleted($event)"
        >
            <span
                class="glyphicon glyphicon-remove"
                aria-hidden="true"
                id="{{ item.id }}"
            >
            </span>
        </button>
    </div>
</div>
